@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~bootstrap/dist/css/bootstrap.min.css';

a {
  color: #191919;
  text-decoration: none;
}

#tp-widget-loader {
  height: 160px;
  position: absolute;
  width: calc(100% - 100px);
  z-index: 3;
}

.wrapper-top .tp-widget-reviews-wrapper {
  opacity: 100%;
  overflow: hidden;
  transition: opacity .6s ease;
  visibility: visible;
  z-index: 2
}

.wrapper-top .tp-widget-reviews {
  height: 160px;
  overflow: hidden;
  white-space: nowrap
}

.wrapper-top .tp-widget-reviews .tp-widget-review {
  background-color: #f8f9fa;
  border-radius: 2px;
  box-shadow: 0 1px 0 0 rgba(182, 196, 210, .4);
  display: inline-block;
  height: 159px;
  line-height: 16px;
  margin: 0 24px 0 0;
  padding: 15px;
  position: relative;
  vertical-align: middle;
  white-space: normal;
}

.top-row {
  display: flex;
  gap: 8px;
}

.style_contentAnimationPr__SxqeC {
  animation-name: style_content-animation5__couXn;
  animation-duration: 1s;
}

.ant-btn-secondary {
  color: #fff;
  background-color: #ff4438;
  border-color: #ff4438;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ant-btn {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1;
  letter-spacing: .75px;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  -webkit-transition: all .3s cubic-bezier(.645, .045, .355, 1);
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  min-width: 80px;
  height: 40px;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 8px;
}

.tp-widget-stars {
  display: inline-block;
}

.tp-widget-wrapper {
  height: 100%;
  margin: 0 auto;
  max-width: 750px;
  position: relative;
}